.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
  background: url('https://img.freepik.com/free-photo/copy-space-italian-food-ingredients_23-2148551732.jpg') no-repeat center center;
  background-size: cover; 
}

  .home-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .home-container p {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  .home-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .btn {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  

  
